---

---

<header>
    <span>Home</span>
    <span>Projects</span>
    <span>Experience</span>
    <span>Contact Me</span>
</header>

<style>
    header {
        background-color: #d9d9d9;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 3.5rem;
        align-items: center;
        font-family: "Anonymous Pro";
        font-weight: bold;
    }
</style>
